<!DOCTYPE html>
<html lang="et">
	<head>
	  <meta charset="utf-8">
	  <title>Õnne-Elisabeth Maripu, veebiprogrammeerimine</title>
</head>
<body>
	  <img src="/images/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	  <h1>Õnne-Elisabeth Maripu, veebiprogrammeerimine</h1>
	  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli </a> veebiprogrameerimise kursusel ja ei sisalda mõistlikku sisu.</p>
	  <p>Kirjutan siis veidi endast. Olen pärit suurperest, kuhu kuuluvad vanemad, mina ja mu 4 nooremat õde/venda. Olen tegelenud käsitööga üle viie aasta. Sündisin "kui raske see ikka olla saab" mentaliteediga, mistõttu eelistan luua ise esemeid nende ostmise asemel. Minu käsitöö oskused ulatuvad pinjatade tegemisest kangastelgedel kudumiseni. Fun fact, Minu loodud pinjatad olid ka leitavad Baltoscandal 2022 lavastuses <a href="https://teater.ee/teatriinfo/lavastused/liisa-saaremael-emer-vark-eesti-sihtkoht-teadmata-12-hmr-baltoscandal-2022-rakvere-teater-baltoscandal/">"Sihtkoht teadmata 12 HMR"</a> kus olin nii dekoreeria kui ka performer. Lapsepõlvest saati on mind ka huvitanud erinevad müüdid ja legendid, mis on nüüdseks segunenud minu huviga ajalooliste motiivide ja nende tähenduste vastu.</p>
	<hr>
	<h2>Siit leiab</h2>
	<ul>
	<li><a href="/timenow"> Ajainfo</a></li>
	<li><a href="/vanasonad"> Valik Eesti vanasõnu</a></li>
	<li><a href="/regvisit"> Registreeri oma külastus</a></li>
	<li><a href="/visitlog"> Eelnevad registreeringud</a></li>
	<li><a href="/eestifilm"> Eesti filmid</a></li>
	</ul>
</body>
</html>